@import url('https://fonts.googleapis.com/css?family=Roboto|Sriracha&display=swap');

:root {
  --background: #fffffb;
  --accent: #ff6b6c;
  --otherAccent: #ffc145;
  --darkBackground: #5b5f97;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}



.Doctores-div{
    display: grid;
    justify-content:flex-start;
    align-items:flex-start;
    height: 100vh;
    font-family: "Roboto", arial, sans-serif;
    color: #222;
    grid-template-columns: repeat(3, 1fr); /* Define dos columnas */
    padding: 100px;
    grid-gap: 190px;
 
    overflow-y: auto;
}
#login-container {
  height: 400px;
  width: 350px;
  padding: 20px;
  border-radius: 5px;
  background: var(--background);
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}
.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px);
    margin: 0 auto;
    a {
      text-align: center;
      border: solid 2px #ff6b6c;
      width: 75px;
      padding: 5px 0;
      border-radius: 5px;
      &:hover {
        background: #ff6b6c;
        color: white;
        cursor: pointer;
      }
    }
}
.profile-img {
  height: 100px;
  width: 100px;
  background: url('https://images.unsplash.com/photo-1504933350103-e840ede978d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -25px;
  left: -25px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.doctor {
  font-family: 'Sriracha', arial, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  color: linear-gradient(90deg, #C7C5F4, #776BCC);		
  margin-top:70px
}

.description {
  margin-bottom: 20px;
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 40px);
  margin: 0 auto;
}

.social a {
  text-align: center;
  border: solid 2px var(--accent);
  width: 75px;
  padding: 5px 0;
  border-radius: 5px;
  transition: background 200ms ease-in-out, color 200ms ease-in-out;
}

.social a:hover {
  background: var(--accent);
  color: white;
  cursor: pointer;
}

.info-doctor {
  width: 80%;
  height: 80px;
  font-size: 2rem;
  margin: 30px 10% 0 10%;
  color: var(--background);
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  background: linear-gradient(90deg, #C7C5F4, #776BCC);		
  background-size: 300% 300%;
  outline: none;
  transition: all 200ms ease-in-out;
  margin-bottom: 30px;
}

.info-doctor:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  transform: translateY(2px);
  animation: gradientBG 1.5s ease-in-out forwards;
  cursor: pointer;
}

.info-doctor:active {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  transform: translateY(4px);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--darkBackground);
  color: white;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 60px;
  padding: 0 20px;
  margin-left: -20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

footer div {
  display: flex;
}

footer .fa-heart {
  color: var(--accent);
}

footer div p:first-child {
  margin-right: 10px;
  border-right: 4px solid white;
  padding-right: 10px;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}


.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
 }
 
 .inputsearch {
  width: 1600px;
  height: 40px;
  
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }
 
 .inputsearch::placeholder {
  color: #9e9ea7;
 }
 
 .inputsearch:focus, input:hover {
  outline: none;
  border-color: rgba(234,76,137,0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
 }
 
 .icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
 }
 .search {
  margin-top:20px;
  margin-bottom: -40px;
  display: flex;
  justify-content: center; /* Centra horizontalmente dentro del contenedor */
  align-items: center; /* Centra verticalmente (opcional) */
}
 